In [2]:
import load_data
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.model_selection import train_test_split

In [3]:
transcr_path='paco-cheese/transcr'
data=load_data.load_all_ipus(folder_path=transcr_path,load_words=True)
data.head(2)

,ipu_id,speaker,start_ipu,stop_ipu,text_ipu,is_main_speaker,turn_at_start,turn_after,turn_start_word,yield_at_end,request_at_start,start_words,stop_words,duration,text_words,request_after_word,turn_after_word,is_ipu_end,dyad
0,0,AA,4.54,4.84,tu as,True,False,True,4.84,True,False,4.54,4.72,0.18,tu,False,False,False,transcr\AAOR
1,0,AA,4.54,4.84,tu as,True,False,True,4.84,True,False,4.72,4.84,0.12,as,False,False,True,transcr\AAOR

In [4]:
data.tail(2)

,ipu_id,speaker,start_ipu,stop_ipu,text_ipu,is_main_speaker,turn_at_start,turn_after,turn_start_word,yield_at_end,request_at_start,start_words,stop_words,duration,text_words,request_after_word,turn_after_word,is_ipu_end,dyad
110542,681,BN,1122.38,1127.20,deux trois fois d'affilée je te dis c'est bon ...,True,True,False,NaN,False,True,1126.77,1127.20,0.43,trucs,False,False,True,transcr\RPABN
110543,682,RPA,1126.50,1126.79,ouais,False,False,False,NaN,False,False,1126.50,1126.79,0.29,ouais,False,False,True,transcr\RPABN

In [6]:
data[data['turn_after_word']==True].head(2)

,ipu_id,speaker,start_ipu,stop_ipu,text_ipu,is_main_speaker,turn_at_start,turn_after,turn_start_word,yield_at_end,request_at_start,start_words,stop_words,duration,text_words,request_after_word,turn_after_word,is_ipu_end,dyad
378,54,OR,111.12,112.144,c'est le quatre je crois on reprend,True,False,True,111.44,True,False,111.28,111.59,0.31,quatre,True,True,False,transcr\AAOR
429,63,OR,122.72,123.235,et c'est loupé,True,False,True,122.82,True,False,122.79,122.93,0.14,c',True,True,False,transcr\AAOR